*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #000; 
}
body {
    background-color: rgb(243, 216, 250);
    color: #111;
}

.contain{
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding: 0px 20px;
}
section{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
    text-decoration: underline;
}
h3{
    font-size: 30px;
    line-height: 30px;
    
    margin-bottom: 15px;
    text-decoration: underline;
}
h4{
    font-size: 20px;
    
    
    margin-bottom: 10px;
    
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    
}
.card{
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    width: 100vh;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    transition: .3s;
    border: 3px solid transparent;
}
.card:hover{
    border-color: #aa0094;
}
img{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 48%;
    
}
.hero{
    display: flex;
}

.bttn{
    border: none;
    outline: none;
    background: #a607e6;
    color: #fff;
    border-radius: 10px;
    max-width: 120px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
    border: 1px solid #aa0094;
}
.bttn:hover{
    background: transparent;
    color: #aa0094;
}
.col{
    display: flex;
    flex-direction: column;
}
.red{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-bottom: 20px;
}
.space{
    margin-right: 20px;
}
.del{
    margin-left: 20px;
 }
.bt{
    margin-left: 20px;
}


@media(max-width:969px){
    section{
        padding: 20px 0px;
    }
    h1{
        font-size: 30px;
        line-height: 40px ;
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 15px;
    }
    
    .card{
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 10px);
        flex-direction: column;

    }
   
}
@media(max-width:600px){
    .card{
        flex: 0 0 100%;
        max-width: 100%;
        flex-direction: column;
    }
    h1{
        font-size: 23px;
        line-height: 20px ;
    }
    h3{
        font-size: 17px;
    }
    h4{
        font-size: 13px;
    }
   
    
}